<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico" />
    <title>Draw To Share</title>

    <!-- Bootstrap Core CSS -->

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/small-business.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    function setTextColor(picker) {
        document.getElementById("chosen-value").value = '#' + picker.toString();
    }
    </script>

</head>

<body>
    <input type="hidden" id="chosen-value" value="000000">
    <input type="hidden" id="tools" value="{}">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" style="font-size: 35px;color: white;" href="#">
                    Draw To Share
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <div id="canvasContainer">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">
                                    <button id="color" class=" jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this)'}">
                                    </button>
                                </a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown active">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <img alt="Pencil" onclick="setActiveTool('drawing');" class="imagebox" src="\icon\Marker-icon.png">
                                            <span class="caret"></span></a>
                                        <ul id="pencilThickness" class="dropdown-menu">
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">6</a></li>
                                            <li><a href="#">8</a></li>
                                            <li><a href="#">10</a></li>
                                            <li><a href="#">12</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><img alt="Eraser" class="imagebox" onclick="setActiveTool('erasing');" src="\icon\Eraser-icon.png"></a>
                                    </li>
                                    <li>
                                        <a id="reset">Clear</a>
                                    </li>
                                    <!--<li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li> -->
                                </ul>

                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                    <div style="margin-top:5px;height:600px !important;">
                        <canvas id="draw" resize="true" keepalive="true"></canvas>
                    </div>
                </div>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <div id="chatBox">
                    <div style="width:1000px">
                        <div>
                            <div class="col-md-4">
                                <div class="portlet portlet-default">
                                    <div class="portlet-heading">
                                        <div class="portlet-title">
                                            <h4><i class="fa fa-circle text-green"></i>Welcome User</h4>
                                        </div>
                                        <div class="portlet-widgets">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-white dropdown-toggle btn-xs" data-toggle="dropdown">
                                                    <i class="fa fa-circle text-green"></i> Status
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#"><i class="fa fa-circle text-green"></i> Online</a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-circle text-orange"></i> Away</a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-circle text-red"></i> Offline</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span class="divider"></span>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#chat"><i class="fa fa-chevron-down"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="chat" class="panel-collapse collapse in">
                                        <div id="chatbox" style="overflow-y: auto;overflow-x:hidden; width: auto; height: 300px;">
                                        </div>
                                        <div class="portlet-footer">
                                            <form role="form">
                                                <div class="form-group">
                                                    <textarea id="message" class="form-control" placeholder="Enter message..."></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <button id="send" type="button" class="btn btn-default pull-right">Send</button>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>





        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Swapnil Patil 2016 </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->



</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="/javascripts/paper.js"></script>
<script src="/javascripts/jscolor.min.js"></script>
<script src='/javascripts/draw.js' type="text/paperscript" canvas="draw"></script>
<script>


    paper.install(window);
    window.onload = function() {
        paper.setup('draw');
        document.getElementById('reset').onclick = function() {
            paper.project.activeLayer.removeChildren();
            paper.view.draw();

        }

    };
    $(document).ready(function() {
        $('#pencilThickness a').click(function(e) {
            setStrokeWidth(this.text);
        });
    });

    function setStrokeWidth(width) {
        var value = JSON.parse(document.getElementById("tools").value);
        value.strokeWidth = width;
        document.getElementById("tools").value = JSON.stringify(value);
    }

    function setActiveTool(tool) {
        var value = JSON.parse(document.getElementById("tools").value);
        value.active_tool = tool;
        document.getElementById("tools").value = JSON.stringify(value);
    }
</script>
</html>
