<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/javascripts/socket.js"></script>
  <script src="/javascripts/paper.js"></script>
  <script src='/javascripts/draw.js' type="text/paperscript" canvas="draw"></script>
  <body>
    <div id="canvasContainer">
    <canvas id="draw" resize="true" keepalive="true" width="1289" height="833"></canvas>
</div>
  </body>
</html>
